body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
.orange{
    color: orange;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(38, 71, 172), rgb(79, 161, 212));
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.dream-section{
    background-image: url(images/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-section{
    background-image: url(images/pngwing.com.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}
.ex-item-1{
    border-left: 10px solid;
    border-image: linear-gradient(blue, rgb(110, 110, 245));
    border-image-slice: 1;
}
.ex-item-2{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(97, 167, 237), rgb(53, 53, 150));
    border-image-slice: 1;
}
footer{
    text-align: center;
    padding: 20px 0;
}